.headerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.left,
.right {
  display: flex;
  gap: 12px;
}

.menu {
  z-index: 1000;
  stroke: var(--secondary);
}
@media screen and (min-width: 768px) {
  .menu {
    width: 36px;
    height: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
}
