.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
/* .loginHome {
  border-radius: 30px;
  font-weight: 700;
  padding: 15px 35px;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  border: 1px solid var(--text);
}
.registerHome {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-orange);
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  background-color: var(--accent);
}
.loginHome:hover {
  border: 1px solid var(--hover);
  background-color: var(--hover);
}
.registerHome:hover {
  background-color: var(--accent-hover);
} */
.login,
.loginHome,
.register,
.registerHome {
  border-radius: 30px;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}
.login,
.loginHome {
  background-color: var(--primary-orange);
  color: var(--text);
}
.register,
.registerHome {
  background-color: var(--accent);
  color: var(--primary-orange);
}

.login:hover,
.loginHome:hover {
  background-color: var(--hover);
}
.register:hover,
.registerHome:hover {
  background-color: var(--accent-hover);
}
@media screen and (min-width: 768px) {
  .auth {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    margin: 0 auto;
  }
  .login,
  .loginHome {
    padding: 15px 35px;
    font-size: 16px;
    margin: 0;
  }
  .register,
  .registerHome {
    padding: 15px 20px;
    font-size: 16px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .loginHome {
    border: 1px solid var(--text);
  }
  .loginHome:hover {
    border: 1px solid var(--hover);
    background-color: var(--hover);
  }
  .registerHome:hover {
    background-color: var(--accent-hover);
  }
  .auth {
    justify-content: flex-end;
    margin-right: auto;
  }
}
