.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 335px;
  min-height: 454px;
  border-radius: 16px;
  padding: 24px;
  background-color: var(--text);
}
.titleCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 8px;
}
.image {
  object-fit: cover;
  border-radius: 16px;
  width: 287px;
  height: 178px;
}
.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary);
}
.popularity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--secondary);
}
.icon {
  fill: var(--primary-orange);
}
.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--secondary);
  margin-top: 16px;
  margin-bottom: 16px;
}
.details {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
}
.desc {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--input);
}
.value {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--secondary);
}
.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
  margin-bottom: 12px;
}
.actions {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.btn {
  border-radius: 30px;
  padding: 14px 80px;
  background-color: var(--primary-orange);
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
}
.btn:hover {
  background-color: var(--hover);
}
.btnFavorite {
  border-radius: 30px;
  padding: 14px;
  width: 46px;
  height: 46px;
  background-color: var(--accent);
}
.iconHeard {
  stroke: var(--primary-orange);
  fill: var(--accent);
}
.iconHeardFavor {
  stroke: var(--primary-orange);
  fill: var(--accent);
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 342px;
    min-height: 472px;
  }
  .contCard {
    display: flex;
    flex-direction: column;
  }
  .subtitle {
    font-size: 18px;
  }
  .image {
    width: 294px;
  }
  .details {
    gap: 16px;
  }
  .price {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 0;
  }
  .btn {
    padding: 14px 78px;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    max-width: 363px;
  }
  .image {
    width: 315px;
  }
}
