.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 20px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    row-gap: 40px;
    /* padding: 0 64px 6px 64px;
  } */
  }
}
