.pageCont {
  border-radius: 30px;
  background-color: var(--primary-orange);
  padding: 50px 20px;
  /* padding: 178px 20px; */
}
.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: var(--text);
  margin-bottom: 24px;
}
.spanCare {
  color: rgba(255, 255, 255, 0.4);
}
.desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text);
}

.mainPhoto {
  width: 100%;
}
/* page not-found */
.notFound {
  border-radius: 30px;
  background-color: var(--primary-orange);
  padding: 245px 33px;
}
.notFoundCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 20px;
}
.notFoundTitle {
  font-weight: 800;
  font-size: 120px;
  line-height: 1;
  color: var(--text);
  margin: 0 auto;
}
.cat {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.textContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--text);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 30px;
  padding: 12px 30px;
  background-color: var(--accent);
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--primary-orange);
}
.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.percent {
  /* width: 292px;
  height: 292px; */
  font-size: 50px;
  font-weight: 700;
  color: var(--text);
  line-height: 1;
  letter-spacing: -0.04em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: var(--primary-orange);
}

/* планшетна версія */

@media screen and (min-width: 768px) {
  .pageCont {
    border-radius: 60px;
    padding: 119px 32px 44px;
  }
  .title {
    font-size: 80px;
  }
  .desc {
    width: 255px;
    font-size: 18px;
    line-height: 1.22;
    margin-left: auto;
  }
  .mainPhoto {
    border-radius: 60px;
  }
  /* page not-found */
  .notFound {
    border-radius: 60px;
    padding: 221px 32px;
  }
  .notFoundCont {
    margin-bottom: 40px;
  }
  .notFoundTitle {
    font-size: 300px;
  }
  .cat {
    width: 280px;
    height: 280px;
  }
  .text {
    font-size: 24px;
    line-height: 1.66;
  }
  .btn {
    padding: 14px 30px;
    font-size: 16px;
    line-height: 1.25;
  }
  .percent {
    font-size: 80px;
  }
}
/* десктопна версія */

@media screen and (min-width: 1280px) {
  .pageCont {
    display: flex;
    gap: 73px;
    flex-direction: row;
    align-items: end;
    padding: 112px 64px 32px;
  }
  .title {
    width: 760px;
    font-size: 90px;
  }
  .notFound {
    padding: 109px 283px;
  }
}
