.backdrop {
  position: fixed;
  inset: 0;
  z-index: 998;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu {
  position: relative;
  width: 90%;
  max-width: 218px;
  height: 100%;
  background-color: var(--text);
  padding: 40px 20px;
  z-index: 999;
  animation: slideDown 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.close {
  align-self: end;
  stroke: var(--secondary);
}
@media screen and (min-width: 768px) {
  .menu {
    min-width: 374px;
    padding: 39px 49px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop {
    display: none;
  }
}
