.container {
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 16px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
  }
}
