.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 70px;
}

@media screen and (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 44px 0 80px;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 28px;
    padding: 60px 0 80px;
    /* padding: 60px 32px 80px; */
  }
}
