.headerLogo {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.logoIcon {
  fill: var(--text);
}
@media screen and (min-width: 768px) {
  .logoIcon {
    width: 106px;
    height: 28px;
  }
}
