.searchCont {
  display: flex;
  gap: 10px;
  position: relative;
}
.input {
  flex-grow: 1;
  border: 1px solid var(--light-grey);
  border-radius: 30px;
  padding: 12px 92px 12px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--input);
  background-color: var(--text);
}
.input:hover,
.input:focus {
  border: 1px solid #f6b83d;
}
.inputBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--text);
  stroke-width: 2px;
  stroke: var(--secondary);
  padding: 2px;
}
.clearBtn {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--text);
  stroke-width: 2px;
  stroke: var(--secondary);
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .searchCont {
    min-width: 265px;
  }
  .input {
    padding: 14px 92px 14px 14px;
    padding-right: 35px;
    font-size: 16px;
  }
}
