.userBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.user {
  display: flex;
}
.avatar {
}
.name,
.nameHome {
  display: none;
}
@media screen and (min-width: 768px) {
  .userBar {
    flex-direction: row;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
  }
  .nameHome {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--text);
  }
  .name {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--secondary);
  }
}
