.nav,
.navHome {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: auto 0;
}
.navList,
.navListHome {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--secondary);
  border: 1px solid var(--light-grey);
  border-radius: 30px;
  padding: 15px 20px;
  width: 119px;
  text-align: center;
  transition:
    border-color 0.2s,
    color 0.2s;
}
.navList:hover,
.active {
  border: 1px solid var(--primary-orange);
}
@media screen and (min-width: 768px) {
  .navList,
  .navListHome {
    font-size: 16px;
    width: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .nav,
  .navHome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
  }
  .navListHome {
    color: var(--text);
    border: 1px solid var(--text);
  }
}
