.loginForm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: var(--text);
  padding: 26px 20px;
}
.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--secondary);
  margin-top: 12px;
  margin-bottom: 24px;
}
.form {
  display: flex;
  /* align-items: flex-start;
  justify-content: center; */
  flex-direction: column;
  gap: 10px;
}

.email,
.password {
  border: 1px solid var(--light-grey);
  border-radius: 30px;
  padding-block: 12px;
  padding-inline: 12px 40px;
  width: 295px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: var(--input);
}
.invalid {
  border: 1px solid var(--red);
}
.valid {
  border-color: var(--green);
}
.emailField,
.passwordField {
  position: relative;
}
.passwordEye {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  stroke-width: 1.5px;
  fill: var(--text);
  stroke: var(--primary-orange);
}
.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  stroke-width: 1.5px;
  stroke: var(--red);
}
.successIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 38px;
  padding: 0;
  stroke-width: 1.5px;
  fill: var(--text);
  stroke: var(--green);
}
.btn {
  border-radius: 30px;
  padding: 12px 99px;
  width: 295px;
  height: 42px;
  background-color: var(--primary-orange);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text);
  margin-top: 30px;
}
.btn:hover {
  background-color: var(--hover);
}
.desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 27px;
}
.login {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
}
.error {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--red);
  margin-top: -8px;
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .loginForm {
    padding: 18px 140px 71px 140px;
  }
  .text {
    font-size: 18px;
    line-height: 1.22;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .email,
  .password {
    padding-block: 16px;
    padding-inline: 16px 60px;
    width: 424px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
  }
  .passwordEye,
  .clearBtn,
  .successIcon {
    width: 22px;
    height: 22px;
    top: 15px;
  }
  .passwordEye,
  .clearBtn {
    right: 16px;
  }
  .successIcon {
    right: 50px;
  }
  .btn {
    padding-block: 16px;
    padding-inline: 187px;
    width: 424px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 40px;
  }
  .error {
    font-size: 12px;
    line-height: 1.16;
  }
  .desc {
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.42;
  }
}
@media screen and (min-width: 1280px) {
  .loginForm {
    padding: 50px 84px 114px 84px;
  }
}
